@model Computer_Communications_Project.ViewModel.MovieViewModel

@using Computer_Communications_Project.Models
@using Computer_Communications_Project.DAL
@{
    Layout = null;
    ViewData["CurrentTime"] = DateTime.Now.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyPage</title>
    <link rel="stylesheet" href="~/Content/HomeStyle.css" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div style="background-color:#fddb3a">
        @if (Session["loggedOn"] == null)
        {
            <button type="button" onclick="location.href='@Url.Action("Register","User")'">Register</button>
            <button type="button" onclick="location.href='@Url.Action("UserLogin","User")'">User Login</button>
            <button type="button" onclick="location.href='@Url.Action("AdminLogin","User")'">Admin Login</button>
        }

        @if (Session["userType"] != null && Session["userType"].ToString() == "admin")
        {
            <button type="button" onclick="location.href='@Url.Action("AdminTools","User")'">Admin tools</button>
        }

        @if (Session["userType"] != null)
        {
            <button type="button" onclick="location.href='@Url.Action("Logout","User")'">Log out</button>
        }

        <span class="middle-obj">@ViewData["CurrentTime"]</span>
        <span class="middle-obj"><img style="width:100px" src="https://img.etimg.com/thumb/msid-59738997,width-1070,height-580,overlay-economictimes/photo.jpg" /></span>


    </div>
    <div style="background-color:#ffffff;">
        <a href="#" class="myButton">Search</a>
        <label>date:</label>
        <input type="date">
        <label>time:</label>
        <input type="time">
        <label>price range:</label>
        <input type="range" min="0" max="50">
        <label>category</label>
        <select>
            <option value="Action">Action</option>
            <option value="Drama">Drama</option>
            <option value="Comedey">Comedey</option>
            <option value="Horor">Horor</option>
        </select>
    </div>

    <div>
        <label>Sort by</label>
        <select>
            <option value="price-increase">price increase</option>
            <option value="price-decrease">price decrease</option>
            <option value="most-popular">most popular</option>
            <option value="category">category</option>
        </select>

    </div>
    <div class="row">
        @foreach (Movie m in Model.Movies)
        {
            
            <div class="column">
                <div class="card">
                    <img src="@m.src" alt="Jane" style="width:100%">
                    <div class="container">
                        <h2>@m.MovieName</h2>
                        <p class="title">@m.Category</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            

        }

    </div>


            <div class="last-div">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">About</a></li>
                </ul>


            </div>


</body>
</html>
