@model Computer_Communications_Project.ViewModel.MovieViewModel

@using Computer_Communications_Project.Models
@using Computer_Communications_Project.DAL
@{
    Layout = null;
    ViewData["CurrentTime"] = DateTime.Now.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyPage</title>
    <link rel="stylesheet" href="~/Content/HomeStyle.css" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div style="background-color:#fddb3a">
        @if (Session["loggedOn"] == null)
        {
            <button type="button" onclick="location.href='@Url.Action("Register","User")'">Register</button>
            <button type="button" onclick="location.href='@Url.Action("UserLogin","User")'">User Login</button>
            <button type="button" onclick="location.href='@Url.Action("AdminLogin","User")'">Admin Login</button>
        }

        @if (Session["userType"] != null && Session["userType"].ToString() == "admin")
        {
            <button type="button" onclick="location.href='@Url.Action("AdminTools","User")'">Admin tools</button>
        }

        @if (Session["userType"] != null)
        {
            <button type="button" onclick="location.href='@Url.Action("Logout","User")'">Log out</button>
        }

        <span class="middle-obj">@ViewData["CurrentTime"]</span>
        <span style="padding-left:90%;"><img style="width:100px" src="https://thumbs.dreamstime.com/z/combination-letter-ds-d-s-gold-golden-alphabet-metal-logo-icon-design-combination-letter-ds-d-s-gold-golden-alphabet-logo-icon-139484636.jpg" /></span>


    </div>
    <div style="background-color:#ffffff;">
        <form action="/">
            <select id="CategorySelect" name="CategorySelect">
                <option value="null">All</option>
                <option value="Action">Action</option>
                <option value="Drama">Drama</option>
                <option value="Comedey">Comedey</option>
                <option value="Horor">Horor</option>
            </select>
            <input type="submit" value="submit" />
        </form>


        @using (Html.BeginForm("priceAction", "Home", FormMethod.Post))
        {

    <select id="PriceSelect" name="PriceSelect">
        <option value="null">normal</option>
        <option value="onsale">on sale</option>
        <option value="price-increase">price increase</option>
        <option value="price-decrease">price decrease</option>
        <option value="most-popular">Most Popular</option>

    </select>
            <input type="submit" value="submit" />

        }
        @using (Html.BeginForm("dateAction", "Home", FormMethod.Post))
        {
            <label for="dateSelect">Date: </label>
            <input type="date" id="dateSelect" name="dateSelect">
            <input type="submit" value="submit">
        }
    </div>


    <div class="row">
        @foreach (Movie m in Model.Movies)
        {
            <div class="column" style="width:300px;height:600px;">
                <div class="card">
                    <img src="@m.src" alt="Jane" style="width:300px;height:400px;">
                    <div class="container">
                        <h2>@m.MovieName</h2>
                        <p class="title">@m.Category</p>
                        <p>Age limit: @m.AgeLimit</p>
                        <p>Date and time: @m.Date</p>
                        <p>Duration: @m.Duration</p>
                        <p>Price: @m.Price</p>
                        <p>Hall number: @m.HallName</p>
                        <form action="/Order/addOrder" method="post">
                            <input type="hidden" name="movieName" value="@m.MovieName" />
                            <input type="submit" value="Order" />
                        </form>
                    </div>
                </div>
            </div>
        }

    </div>


    <div class="last-div">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">About</a></li>
            <li><a href="">About</a></li>
        </ul>


    </div>


</body>
</html>
